<mat-card>Perfil del usuario</mat-card>

<form class="example-container" [formGroup]="form" #frmPaciente="ngForm">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Usuario" formControlName="usuario">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Rol" formControlName="rol">
  </mat-form-field>

</form>
